{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/content.css') }}">
{% endblock %}

{% block maincontent %}
<header class="heading">
    <p class="heading-text">Below is a list of projects I have worked on in CSE 477</p>
    <p class="subheading">Click on an image, or hyperlink in the description to learn more.</p>
</header>
<section class="content-container">
    <a class="portrait-link" href="/piano"><img class="portrait" loading="lazy" src="{{ url_for('static', filename='main/images/piano.jpeg') }}" alt="image of a grand piano"></a>
    <div class="description">
        <p class="heading-text">Javascript Piano</p>
        <p>As part of my first homework assignment in CSE 477, I developed
        an interactive piano built in pure CSS, HTML, and Javascript. This tool (in addition to my webpage) highlight 
        my ability to create beautiful and mobile friendly front end applications. </p>
        <a href="/piano">Click here to see and play</a>

        
    </div>
</section>
<section class="content-container">
    <a class="portrait-link" href="https://final-exam-fjzggzgsba-uc.a.run.app/home"><img class="portrait" loading="lazy" src="{{ url_for('static', filename='main/images/trello.png') }}" alt="image of a grand piano"></a>
    <div class="description">
        <p class="heading-text">Simplified Kanban Board (Trello)</p>
        <p>As part of the final-exam for CSE 477 I developed a full stack application that implements the features of a simplified kanban board.
           This application was modeled after trello. It's utilizes MySQL for the database, flask for the backend, and Vanilla JS for the frontend</p>   
        <a href="https://final-exam-fjzggzgsba-uc.a.run.app/home">Click here to see and use</a>
        
    </div>
</section>
{% endblock %}