.modal{
    position: relative;
    max-width: 100ch;
    min-width: 80ch;
    padding: 0 1.5em 1em 1.5em;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1em rgba(0 0 0 / .3);
    text-align: justify;
    margin: auto;
}

.modal::backdrop{
    color: rgba(0,0,0, .3);
}

.modal .exit-button{
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    background-color: #1F2329;
    margin-left: auto;
    outline: none;
    border: none;

    cursor: pointer;
    transition: transform ease 100ms;
}

.modal .exit-button:hover{
    transform: scale(1.2);
}

.modal .header{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.modal .header::before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5em;
    content: "";
    background-color: #251c35;
    opacity: 1;
    z-index: -1;
}

.modal .header .title{
    margin-right: 1em;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.modal .form{
    margin-top: 2.5em;
    margin-left: 2em;
}

.modal .form .form-entry{
    display: flex;
    flex-direction: column;
    border: none;
}

.modal .form .form-entry .form-label{
    font-size: 1.2em;
    margin: .25em;
}

.modal .form .form-entry .form-input,
.modal .form .form-entry .form-textarea{
    background-color: #f8f8f8;
    padding: .25em;
    border: none;
    border-radius: .25em;
    font-size: 1.2em;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-left: 2em;
    max-width: 60ch;
}

.modal .form .form-entry .form-textarea{
    min-width: 40ch;
    max-width: 50ch;
}



.modal .form .form-entry .form-input:focus,
.modal .form .form-entry .form-textarea:valid{
    border: #000000 solid 1px !important;
    outline: none;
}

.modal .form .form-entry .form-input:user-invalid,
.modal .form .form-entry .form-textarea:user-invalid{
    border: solid #ff0000 1px;
}

.modal .form .form-entry .form-input:valid,
.modal .form .form-entry .form-textarea:valid{
    border: solid #287d00 1px;
}

.modal .form .submit{
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 1em;
    font-weight: bold;
    padding: .5em;
    border-radius: 10px;
    border: solid 1px;
    border-color: #ffffff;
    background-color: #251c35;
    color: #ffffff;

    background-image: linear-gradient(to left, transparent, transparent 50%, #ffffff 50%, #ffffff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease;
    
}

.modal .form .submit:hover{
    background-position: 0 0;
    color: #251c35;
    border-color: #251c35;
    
}

@media only screen and (max-width: 550px){
    .modal {
        font-size: 8px;
        min-width: 60ch;
        max-width: 60ch;
    }
}

@media only screen and (max-width: 550px){
    .modal .form .form-entry .form-textarea {
        max-width: 40ch;
    }
}